<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Academia</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:include="header :: topo"></div>

	<table border="1" class="pure-table">
		<tr>
			<td th:text="${academia.id}" />
			<td th:text="${academia.nome}" />
		</tr>
	</table>

	<br />
	<br />

	<a th:href="@{|/academia/${academia.id}/aluno/todos|}">Listar Alunos</a>
	<br />
	<a th:href="@{|/academia/${academia.id}/instrutor/todos|}">Listar instrutores</a>
	<br />
	<a th:text="Excluir" th:href="@{|/academia/excluir?academiaId=${academia.id}|}"></a>
	
</body>
</html>