<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista de Treinos do Aluno</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:include="header :: topo"></div>

	<table border="1">
		<tr>
			<td th:text="${aluno.id}"/>
			<td th:text="${aluno.username}"/>
		</tr>
	</table>
	
	<br/>
	<br/>

	<table border="1" class="table">
		<tr th:each="treino : ${treinos}">
			<td th:text="${{treino.id}}"></td>
			<td th:text="${{treino.nome}}"></td>
		</tr>
	</table>

</body>
</html>