<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Aluno</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:include="header :: topo"></div>

	<table border="1" class="pure-table">
		<tr>
			<td th:text="${aluno.nome}" />
		</tr>
	</table>
	
	<br />
	<br />
	
	<table border="1" class="pure-table">
		<tr>
			<td>
				<b>Instrutor:</b> <a th:text="${instrutor.nome}" th:href="@{|/instrutor/${instrutor.id}|}"></a> 
			</td>
		</tr>
	</table>
	
	<br />
	<br />
	
	<table border="1" class="pure-table">
		<tr>
			<td>
				<b>Academia:</b> <a th:text="${academia.nome}" th:href="@{|/academia/${academia.id}|}"></a> 
			</td>
		</tr>
	</table>

	<br />
	<br />

	<table border="1" class="pure-table pure-table-horizontal">
		<tr th:each="treino : ${treinos}">
			<td th:text="${treino.nome}" th:title="${treino.descricao}"></td>
			<td>
				<table th:each="exercicio : ${treino.exercicios}">
					<tr>
						<td th:text="${exercicio.string}"></td>
					</tr>
				</table>
				<table>
					<tr>
						<td><a th:href="@{|/exercicio/form?alunoId=${aluno.id}&amp;treinoId=${treino.id}|}">Adicionar Exercicio</a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br />
	<a th:href="@{|/treino/form?alunoId=${aluno.id}|}">>Adicionar Treino</a>
</body>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</html>