<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:include="header :: topo"></div>

	<table border="1" class="pure-table">
		<tr>
			<td th:text="${aluno.username}" />
			<td th:text="${treino.nome}" />
		</tr>
	</table>

	<br />
	<br /> 
	<form th:action="@{/exercicioTempo/save}" th:object="${exercicioTempo}" method="post">
		Exercicio Nome:
		<input type="text" th:field="*{nome}" />
		<br /> 
		
		Tempo:
		<input type="text" th:field="*{tempo}"/>
		
		<br />
		<br />
		<br />
		
		<input type="hidden" th:field="*{treino.id}" /> 
		<input type="submit" value="Salvar"/>
		
	</form>
	<a th:text="Cancelar" th:href="@{|/aluno/${aluno.id}|}"></a>


</body>
</html>