<html xmlns:th="http://www.thymeleaf.org" th:fragment="topo">
<head>
<link rel="stylesheet"
	href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"></link>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Treino Fitness</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#" th:href="@{/}">Home</a></li>
					<li><a href="#" th:href="@{/login}">Login</a></li>
					<li><a href="#" th:href="@{/cadastrar}">Cadastrar</a></li>
					<li><a href="#" th:href="@{/aluno/todos}">Todos os alunos</a></li>
					<li><a href="#" th:href="@{/treino/todos}">Todos os treinos</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">

				</ul>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />
</body>
</html>