<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Instrutor</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:include="header :: topo"></div>

	<table border="1" class="pure-table">
		<tr>
			<td th:text="${instrutor.nome}" />
			<td th:text="${instrutor.username}" />
			
		</tr>
	</table>
	
	<br />
	<br />
	
	<table border="1" class="pure-table">
		<tr>
			<td>
				<b>Academia:</b> <a th:text="${academia.nome}" th:href="@{|/academia/${academia.id}|}"></a> 
			</td>
		</tr>
	</table>
	

	<br />
	<br />
	
	<table border="1" class="pure-table pure-table-horizontal">
		<tr th:each="aluno : ${alunos}">
			<td>
				<a th:text="${aluno.nome}" th:href="@{|/aluno/${aluno.id}|}"></a> 
			</td>
		</tr>
	</table>
</body>
</html>