<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista de Instrutores</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div th:include="header :: topo"></div>
	<table border="1" class="pure-table pure-table-horizontal">
		<tr th:each="instrutor : ${instrutores}">
			<td th:text="${instrutor.id}"></td>
			<td><a th:text="${instrutor.nome}" th:href="@{|/instrutor/${instrutor.id}|}">
			</a></td>
		</tr>
	</table>

</body>
</html>