<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Login</title>
<link href="css/signin.css" rel="stylesheet" />
</head>
<body>

	<div th:replace="headerHome :: topo"></div>

	<div class="container">
		<form action="#" th:action="@{/login}" th:object="${usuario}" method="POST">
			<input type="text" th:field="*{username}" /> 
			<input type="text" th:field="*{senha}" />

			<button type="submit">Entrar</button>
		</form>
	</div>
</body>
</html>