<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Login</title>
<link href="css/signin.css" rel="stylesheet"/>
</head>
<body>

	<div th:replace="headerHome :: topo"></div>
	
	<div class="container">
		<form class="form-signin" action="#" th:action="@{/login2}" th:object="${usuario}" method="post" >
			<h2 class="form-signin-heading">Please sign in</h2>
			
			<div th:if="${param.error}" class="alert alert-error">    
                    Username ou senha invalidos.
                </div>
                <div th:if="${param.logout}" class="alert alert-success"> 
                    Você fez logout com sucesso.
                </div>
			
			<label for="username" class="sr-only">Email address</label> 
			<input
				type="text" id="username" class="form-control"
				placeholder="Email" required="required"
				autofocus="autofocus" th:field="*{username}"/> 
				
			<label for="senha" class="sr-only">Password</label>	
			<input type="password" id="senha" class="form-control"
				placeholder="Senha" th:field="*{senha}" required="required" />
				
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="Entrar" />
		</form>
	</div>
</body>
</html>