<html>
<head>
	<title>Tela Instrutor</title>
	<link rel="stylesheet" type="text/css" href="telainstrutor.css">
</head>
<body>

	<h1>Central do Instrutor</h1>

	Alunos:
	<select>
	<option></option>
	<option>Aluno 1</option>
	<option>Aluno 2</option>
	<option>Aluno 3</option>
	<option>Aluno 4</option>
	<option>Aluno 5</option>
	<option>Aluno 6</option>
	<option>Aluno 7</option>
	<option>Aluno 8</option>
	<option>Aluno 9</option>
	<option>Aluno 10</option>
	</select>
	<input type="button" name="enviar" id="enviar" value="enviar">
</body>
</html>