<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:include="header :: topo"></div>

	<table border="1" class="pure-table">
		<tr>
			<td th:text="${aluno.username}" />
		</tr>
	</table>

	<br />
	<br /> 
	<form>
		Treino Nome:
		<input type="text" name="nome"/>
		<br /> 
		
		Descricao:
		<input type="text" name="desc"/>
		<br />
		
		<input type="submit" value="Salvar"/>
		<input type="submit" value="Criar Exercicio"/>
		<input type="submit" value="Cancelar" onclick="location.href='/aluno/${aluno.id}'"/>
	</form>
</body>
</html>